@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    zoom: -1;
}


header {
    border: 2px solid purple;
    display: flex;
    height: 55px;
    width: 2000px;
}

.headerdiv {
    display: flex;
    justify-content: space-evenly;
    
}


header nav a {
    row-gap: 20px;
    border: 2px solid purple;
    justify-content: center;
    
}





header nav h1 {
    display: flex;
    color: #5F6368;
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.1;
    padding: 7px 70px;
    display: inline-block;
}


header nav select {
    border: none;
    outline: none;

}

header nav a {
    padding: -1 -1;
    border: none;
    text-decoration: none;
    outline: none;
    color: #5F6368;
    margin-left: 50px;
}

header nav a:hover {
    color: black;
}


.lastchild {
    display: inline-block;
    margin-left: 730px;
    /* border: 2px solid red; */
    padding: 10px 6px;
    
}


.lastchild:hover {
    /* border: none; */
    background-color: #F5F6F7;
    border-radius: 25px;
    
}


.bold-text {
    font-weight: bolder;
}

img {
    max-width: 100%;
    border-radius: 30px;
}

.h1 {
    padding-top: 3px;
    /* padding-bottom: 15px; */
    font-size: 50px;

}

.para {
    padding-top: 40px;
    font-size: 22px;
}

.flex-parent {
    display: flex;
    margin: 30px 312.5px;
    padding: 25px 25px;

}

.flex-child:nth-child(1) {
    padding-top: 20px;
    width: 50%;
}
.flex-child:nth-child(2) {
    width: 47%;
    padding: 50px 50px;
}

.flex-parent2 {
    display: flex;
    margin: 10px 312.5px;
    justify-content: space-between;
    gap: 22px;
    padding: 25px 25px;
}

.flex-child2:nth-child(1) {
    width: 33.33%;
    background-color: 
#F5F6F7;
    border-radius: 30px;
    padding: 65px 30px;
}

.flex-child2:nth-child(2) {
    width: 33.33%;
    background-color: 
#F5F6F7;
border-radius: 30px;
padding: 65px 30px;
}

.flex-child2:nth-child(3) {
    width: 33.33%;
    background-color: 
#F5F6F7;
border-radius: 30px;
padding: 65px 30px;
}

div h2 {
    padding-top: 30px;
    padding-bottom: 25px;
}

.divp {
    margin-bottom: 45px;
}

.divp2 {
    margin-bottom: 45px;
}

.divp3 {
    margin-bottom: 45px;
}


.diva {
    color: #1A73E8;
    margin-left: 80px;
    text-decoration: none;
    border: 2px solid
#1A73E8;
border-radius: 30px;
padding: 13px 45px;
}

.diva:hover {
    border: none;
    background-color: #F5F6F7;
}

.diva2 {
    color:
#1A73E8;
    margin-left: 80px;
    text-decoration: none;
    border: 2px solid 
#1A73E8;
    border-radius: 30px;
    padding: 13px 45px;
}

.diva2:hover {
    border: none;
    background-color: #F5F6F7;
}

.diva3 {
    color: 
#1A73E8;
    margin-left: 80px;
    text-decoration: none;
    border: 2px solid 
#1A73E8;
    border-radius: 30px;
    padding: 13px 45px;
}

.diva3:hover {
    border: none;
    background-color: #F5F6F7;
}